
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MyLayout/_LayoutAdmin.cshtml";
}
@model List<Model.post>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách bài viết</h1>
        <div class="card mb-4">
            @if (ViewBag.Msg != null)
            {
                if (ViewBag.Msg == "1")
                {
                    <div class="alert alert-danger">
                        <strong>Dữ liệu đã tồn tại</strong>
                    </div>
                }
                else if (ViewBag.Msg == "2")
                {
                    <div class="alert alert-info">
                        <strong>Thành công</strong>
                    </div>
                }
                else if (ViewBag.Msg == "3")
                {
                    <div class="alert alert-danger">
                        <strong>Dữ liệu đang hoạt động, không thể xóa</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <strong>Dữ liệu không tồn tại</strong>
                    </div>
                }
            }
            <div class="card-header">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalAdd" style="width: 100px !important">
                    Thêm
                </button>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr style="background-color : darkgray">
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tiêu đề</th>
                            <th>Thể loại</th>
                            <th>Mô tả</th>
                            <th>Ngày đăng</th>
                            <th>Hành động</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tiêu đề</th>
                            <th>Thể loại</th>
                            <th>Mô tả</th>
                            <th>Ngày đăng</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        <input type="hidden" value="@Model.Count()" id="dodai" />

                        @{ var stt = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td style="width: 40px !important">@stt</td>
                                <td>
                                    @{
                                        var idModel = "exampleModalImg" + item.id;
                                    }
                                    @if (item.image == "")
                                    {

                                        <img style="width: 120px !important;height: 150px !important;" src="https://i.pinimg.com/originals/fb/45/ba/fb45baac1eed3c1b19d4aad23b054fa8.jpg" class="img-fluid">

                                    }
                                    else
                                    {

                                        <a href="" data-bs-toggle="modal" data-bs-target="#@idModel">
                                            <img style="width: 120px !important;height: 150px !important;" src="/Content/Assets/images/@item.image" class="img-fluid">
                                        </a>

                                    }
                                </td>
                                <td>@item.title</td>
                                <td>
                                    @{var category = new DatabaseIO.CategoryPostDao().getAll();
                                    }
                                    @foreach (var item1 in category)
                                    {
                                        if (item1.id == item.id_cpost)
                                        {
                                            @item1.name;
                                        }
                                    }

                                </td>
                                <td>
                                    @{
                                        var idModelDes = "exampleModalDes" + item.id;
                                    }
                                    <a href="" data-bs-toggle="modal" data-bs-target="#@idModelDes">Chi tiết</a>
                                </td>
                                <td>@item.created_at</td>
                                <td>
                                    @{
                                        var idModelUp = "exampleModal" + item.id;
                                    }
                                    
                                    
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#@idModelUp" style="width: 100px !important">
                                        Sửa
                                    </button>
                                    @{
                                        var idModelDel = "exampleModalDel" + item.id;
                                    }
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#@idModelDel" style="width: 100px !important">
                                        Xóa
                                    </button>
                                    <div class="modal fade" id="@idModelDel" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Bài viết:  @item.title
                                                    <form action="/AdminPost/Delete" method="post">
                                                        <input type="hidden" class="form-control" id="id" name="id" value="@item.id">
                                                        <div class="modal-footer" style="margin-top: 20px">
                                                            <button style="width:100px" type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Đóng
                                                            </button>
                                                            <button style="width:100px" type="submit" class="btn btn-danger">Xóa</button>

                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <!-- Modal img-->
                            <div class="modal fade" id="@idModel" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-m">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img style="width: 460px !important;height: 580px !important;"
                                                 src="/Content/Assets/images/@item.image" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal img-->
                            <!-- Modal Descrip-->
                            <div class="modal fade" id="@idModelDes" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@item.title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>@item.description</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal Descrup-->

                            <!-- Modal Update-->
                            <div class="modal fade" id="@idModelUp" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form enctype="multipart/form-data" action="/AdminPost/Update" method="post">
                                                <input type="hidden" value="@item.id" name="id">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="">
                                                            <label for="category-film"
                                                                   class="col-form-label">Tiêu đề <span style="color:red">* </span>:</label>
                                                            <input type="text" class="form-control"
                                                                  maxlength="0"  name="title" value="@item.title" id="category-film" required>
                                                        </div>

                                                    </div>
                                                    <div class="col-6 ">
                                                        <div class="">
                                                            <label for="category-film"
                                                                   class="col-form-label">Thể loại <span style="color:red">* </span>:</label>
                                                            <select name="theloai" class="form-select"
                                                                    aria-label="Default select example" required>


                                                                @foreach (var item1 in category)
                                                                {
                                                                    if (item1.id == item.id_cpost)
                                                                    {
                                                                        <option value="@item1.id" selected>@item1.name</option>
                                                                    }
                                                                    <option value="@item1.id">@item1.name</option>
                                                                }



                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="mb-4 mt-4">
                                                    <label for="exampleFormControlFile1">
                                                        Ảnh
                                                        thumbnail <span style="color:red">* </span>:
                                                    </label><br>
                                                    <input type="file" class="form-control-file"
                                                           name="file" id="exampleFormControlFile1">
                                                    <p>@item.image</p>
                                                    <input type="hidden" value="@item.image" name="anh">
                                                </div>
                                                @{
                                                    var edit = "editor" + stt;
                                                }
                                                <div class="">
                                                    <label for="category-film" class="col-form-label">Nội dung <span style="color:red">* </span>:</label>
                                                    <textarea name="noidung" id="@edit" cols="30" rows="30">@Html.Raw(item.description)</textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button style="width:100px" type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Đóng
                                                    </button>
                                                    <button style="width:100px" type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal Update-->
                            stt++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

    <!-- Modal Add-->
    <div class="modal fade" id="exampleModalAdd" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" action="/AdminPost/Add" method="post">

                        <div class="row">
                            <div class="col-6">
                                <div class="">
                                    <label for="category-film"
                                           class="col-form-label">Tiêu đề <span style="color:red">* </span>:</label>
                                    <input maxlength="40" type="text" class="form-control"
                                           name="title" id="tieude" required>
                                </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="">
                                        <label for="category-film"
                                               class="col-form-label">Thể loại <span style="color:red">* </span>:</label>
                                        <select name="theloai" class="form-select"
                                              id="theloai"  aria-label="Default select example" required>
                                            <option selected value="">Open this select menu</option>
                                            @{var cate = new DatabaseIO.CategoryPostDao().getAll();
                                            }
                                            @foreach (var item1 in cate)
                                            {
                                                <option value="@item1.id">@item1.name</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                        <div class="mb-4 mt-4">
                            <label for="exampleFormControlFile1">
                                Ảnh
                                thumbnail <span style="color:red">* </span>:
                            </label><br>
                            <input type="file" class="form-control-file"
                                   name="file" id="file" accept="image/*" required>
                        </div>
                        <div class="">
                            <label for="category-film" class="col-form-label">
                                Nội
                                dung <span style="color:red">* </span>:
                            </label><br />
                                    <textarea name="noidung" id="editor" cols="30" rows="30"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button style="width:100px" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Đóng
                            </button>
                            <button style="width:100px" onclick="check()" type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                        
                       

</div>

            </div>
        </div>
    </div>
          
    <script>
        function check() {
            var tieude = document.getElementById("tieude").value;
            var theloai = document.getElementById("theloai").value;
            var file = document.getElementById("file").value;
            if (tieude == "") {
                document.getElementById("tieude").style.borderWidth = '1px';
                document.getElementById("tieude").style.borderColor = 'red';
            } else if (theloai == "") {
                document.getElementById("theloai").style.borderWidth = '1px';
                document.getElementById("theloai").style.borderColor = 'red';
                document.getElementById("tieude").style.borderWidth = '1px';
                document.getElementById("tieude").style.borderColor = '#D0C9C9';
            } else if (file == "") {
                document.getElementById("file").style.borderWidth = '1px';
                document.getElementById("file").style.borderColor = 'red';
                document.getElementById("theloai").style.borderWidth = '1px';
                document.getElementById("theloai").style.borderColor = '#D0C9C9';
            } else {
                document.getElementById("file").style.borderWidth = '1px';
                document.getElementById("file").style.borderColor = '#D0C9C9';
            }
        }
        CKEDITOR.replace("editor");

    </script>
    <!-- Modal Add-->
    <script>

        var dodai = document.getElementById("dodai").value;

        for (var i = 1; i < dodai; i++) {
            var name = "editor" + i
            CKEDITOR.replace(name);

        }

    </script>



