
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MyLayout/_LayoutAdmin.cshtml";
}
@model List<Model.film>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách phim</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Phim</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">

                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Film</th>
                            <th>Actor</th>
                            <th>Director</th>
                            <th>Duration</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Trailer</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Film</th>
                            <th>Actor</th>
                            <th>Director</th>
                            <th>Duration</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Trailer</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                 
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>
                                    @{
                                        var idModel = "exampleModalImg" + item.id;
                                    }
                                    <a href="" data-bs-toggle="modal" data-bs-target="#@idModel">
                                        <img style="width: 120px !important;height: 150px !important;" src="/Content/Assets/images/@item.image" class="img-fluid">
                                    </a>

                                </td>
                                <td>@item.actor</td>
                                <td>@item.director</td>
                                <td>@item.duration</td>
                                <td>
                                    @{var category = new DatabaseIO.CategoryFilmDao().getAllCategoryFilm();
                                    }
                                    @foreach (var item1 in category)
                                    {
                                        if (item1.id == item.id_cfilm)
                                        {
                                            @item1.name;
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        var idModelDes = "exampleModalDes" + item.id;
                                    }
                                    <a href="" data-bs-toggle="modal" data-bs-target="#@idModelDes">Chi tiết</a>
                                </td>
                                <td>
                                    @{
                                        var idModelView = "exampleModalView" + item.id;
                                    }
                                    <a href="" data-bs-toggle="modal" data-bs-target="#@idModelView">Link</a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                </td>

                            </tr>
                            <!-- Modal img-->
                            <div class="modal fade" id="@idModel" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-m">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img style="width: 460px !important;height: 580px !important;" src="/Content/Assets/images/@item.image" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal img-->
                            <div class="modal fade" id="@idModelView" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <iframe width="1104" height="621" src="@item.trailer"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view-->
                            <!-- Modal Descrip-->
                            <div class="modal fade" id="@idModelDes" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-l">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@item.film_name</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>@item.description</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Modal Descrup-->
                            <!-- Modal Add-->
                            <div class="modal fade" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Tên Phim:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Diễn viên:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Đạo diễn:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Thời lượng:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ">
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Thể loại:</label>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected>Open this select menu</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                        <div class="mb-4 mt-4">
                                                            <label for="exampleFormControlFile1">Ảnh Thumbnail</label>
                                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Trailer:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <label for="category-film" class="col-form-label">Nội dung:</label>
                                                    <textarea name="description" id="editor" cols="30" rows="30"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Add-->
                            <!-- Modal Update-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhập</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Tên Phim:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Diễn viên:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Đạo diễn:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Thời lượng:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 ">
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Thể loại:</label>
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option selected>Open this select menu</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                        <div class="mb-4 mt-4">
                                                            <label for="exampleFormControlFile1">Ảnh Thumbnail</label>
                                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                        </div>
                                                        <div class="">
                                                            <label for="category-film" class="col-form-label">Trailer:</label>
                                                            <input type="text" class="form-control" id="category-film">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <label for="category-film" class="col-form-label">Nội dung:</label>
                                                    <textarea name="description" id="editor1" cols="30" rows="30"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Update-->
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

